<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>註冊</title>
</head>

<body>
  <h1>註冊</h1>
  <form action="/reg" method="POST">
    <label for="username">username:</label>
    <input id="username" type="text" name="username">
    <label for="password">password:</label>
    <input id="password" type="password" name="password">
    <button type="submit">送出</button>
  </form>
</body>

</html>